<%= render '/users/list', user: @user, book: @book %>

<h2>Books</h2>

<% @books.each do |f| %>
  <%= link_to attachment_image_tag(f.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"), user_path(f.user.id) %>
  <%= link_to f.title, book_path(f.id) %>
  <%= f.body %><br>
<% end %>